 .note {
   display: none;
   z-index: 100;
   background-color: white;
 }

 .note input {
   background-color: white;
 }


 .note-visible {
   display: block;
 }

 .backdrop {
   display: none;
   background-color: rgba(0, 0, 0, 0.2);
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 10;
 }

 .backdrop-visible {
   display: block;
 }