* {
  box-sizing: border-box;

}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 3.3rem;
  text-align: center;
  color: rebeccapurple;
}

p {
  font-size: 1.7rem;
  color: teal;
}

.text-center {
  text-align: center;
  color: blue;
  font-size: 1.9rem;
}

.list {
  list-style: none;
}

.list li {
  font-size: 1.7rem;
  text-align: center;
  color: rebeccapurple;
}