.test {
  color: rebeccapurple;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
}


.title {
  color: blanchedalmond;
  background-color: cadetblue;
  text-align: center;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.danger {
  background: crimson;
  color: aliceblue;
}

.critical {
  background: orange;
  color: aliceblue;
}